a {
  font-size: 14px;
  color: #524e4e !important;
  background-color:bisque;
  padding: 2px 7px;
  border: 1px solid rgb(164, 161, 161) !important;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

// hexadecimal
// rgb y rgba
// nombre colores